/*-- #/_deps --*/



/*******************************************************************************



********************************************************************************

<:>
{
  "%": "",
  ".": "index.css!c.css",
  "#": "#"
}
//
</:>

/******************************************************************************/



/*-- index --*/



/******************************************************************************/

/*
#sidebar {
  display: none;
}
*/

.x-hide {
  display: none !important;
}

iframe[data-pres] {
  width: 100%;
  border: 0;
  height: 600px;
}

/*
span[data-pres] {
  display: none;
}

span[data-pres=1] {
  display: none;
}
*/

/*******************************************************************************

<:y000>
{
  "%": "",
  ".": [],
  ":": [],
  "!": [],
  "~": [],
  "?": [],
  "_": [],
  "#": "#"
}
</:y000>

*******************************************************************************/


/*-- _tmpl:index --*/
/*!!



/%****************************************************************************%/

#app {
  height: 50px;
  width: 50px;
  background-color: indianred;
}

/%******************************************************************************

<:_tmpl>
{
  "%": "",
  ".": [],
  ":": [],
  "!": [],
  "~": [],
  "?": [],
  "_": [],
  "#": "#"
}
</:_tmpl>

******************************************************************************%/


!!*/
/*-- y000:index --*/
/*!!

!!*/
